[build]
publish = "public"
command = "make production-build"

[build.environment]
HUGO_VERSION = "0.133.0"
NODE_VERSION = "20.16.0"
HUGO_ENV = "production"

[context.deploy-preview]
command = "make preview-build"

[context.branch-deploy]
command = "make preview-build"


[[redirects]]
from = "http://k8s.dev/*"
to =  "https://www.kubernetes.dev/:splat"
status = 301
force = true

[[redirects]]
from = "https://k8s.dev/*"
to =  "https://www.kubernetes.dev/:splat"
status = 301
force = true

[[redirects]]
from = "http://kubernetes.dev/*"
to =  "https://www.kubernetes.dev/:splat"
status = 301
force = true

[[redirects]]
from = "https://kubernetes.dev/*"
to =  "https://www.kubernetes.dev/:splat"
status = 301
force = true
