.navbar-brand__name {
  text-transform: uppercase;
}

.navbar-brand__name {
  text-transform: uppercase;
}

.td-navbar {
  transition: background-color 0.3s ease;
}

.td-navbar.scrolled {
  background-color: rgba(26, 117, 255, 0.95);
}
