.navbar-brand__name {
  text-transform: uppercase;
}

// Improve homepage readability
div.lead {
  background-color: rgba(255, 255, 255, 0.7) !important;
  padding: 1rem !important;
  border-radius: 8px !important;
  color: #000 !important;
}

div.lead *,
div.lead b,
div.lead p {
  color: #000 !important;
  margin: 0.5rem 0 !important;
  display: block !important;
}
