/*

Bootstrap variables overrides for theme.
See https://github.com/twbs/bootstrap/pull/23260
*/

@fa-font-path :        "../webfonts";

// Bootstrap flags. For more, see https://getbootstrap.com/docs/4.0/getting-started/theming/
$enable-gradients: true;
$enable-rounded: true;
$enable-shadows: true;

// Theme flags.

$td-enable-google-fonts: true;

// Theme colors

$primary: #30638E;
$primary-light: lighten($primary, 75%);
$secondary: #303030;
$success: #3772FF;
$info: #C0E0DE;
$warning: #ED6A5A;
$danger: #ED6A5A;
$white: #fff;
$light: #D3F3EE;

$dark: #403F4C;
$blue: #72A1E5;
$orange: #BA5A31;
$gray-100: #f8f9fa;
$gray-200: #eee;
$gray-300: #dee2e6;
$gray-400: #ccc;
$gray-500: #adb5bd;
$gray-600: #888;
$gray-700: #495057;
$gray-800: #333;
$gray-900: #222;
$black: #000;

$code-color: darken($secondary, 20%);

// UI element colors

$border-color: $gray-300 !default;
$td-sidebar-tree-root-color: $primary !default;
$td-sidebar-bg-color: rgba($primary, 0.03) !default;
$td-sidebar-border-color: $border-color !default;

// Background colors for the sections on home page etc. It is a paint by number system, starting at 0, where the number is taken from the shortcode's ordinal
// if not provided by the user.
// These colors are all part of the theme palette, but the mix is fairly random to create variation. This can be overridden by the project if needed.
$td-box-colors: $dark, $primary, $secondary, $info, $primary-light, $gray-600, $success, $warning, $dark, $danger, $primary, $secondary, $primary-light, $info;

$link-color: darken($blue, 15%);
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: none;

// Fonts

$font-awesome-font-name: "Open Sans" !default;

$google_font_name: "Open Sans";
$google_font_family: "Open+Sans:300,300i,400,400i,700,700i";
$web-font-path: "https://fonts.googleapis.com/css?family=#{$google_font_family}";

$td-fonts-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

@if $td-enable-google-fonts {
    $td-fonts-serif: prepend($td-fonts-serif, "#{$google_font_name}");
}

$font-family-sans-serif: $td-fonts-serif;

$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base: $font-family-sans-serif;
$font-size-base: 1rem;

// Font weights

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-weight-body-text: $font-weight-normal;
$headings-font-weight: $font-weight-medium;

// Heading sizes

$h1-font-size: $font-size-base * 2.25;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.35;
$h5-font-size: $font-size-base * 1.15;
$h6-font-size: $font-size-base;

// Display styles

$display1-weight: $font-weight-bold;
$display2-weight: $font-weight-bold;
$display3-weight: $font-weight-bold;
$display4-weight: $font-weight-bold;
$display1-size: 3rem;
$display2-size: 2.5rem;
$display3-size: 2rem;
$display4-size: 1.75rem;

// Space

$spacer: 1rem;
$td-block-space-top-base: 4 * $spacer;
$td-block-space-bottom-base: 4 * $spacer;

// Pagination

$pagination-color: $gray-600;
$pagination-border-color: rgba($black, 0.1);
$pagination-active-border-color: darken($primary, 5%);
$pagination-disabled-color: $gray-300;

// Navbar

$navbar-dark-color: rgba($white, 0.75);
$navbar-dark-hover-color: rgba($white, 0.5);
$navbar-dark-active-color: $white;
$navbar-dark-disabled-color: rgba($white, 0.25);

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light".
$yiq-contrasted-threshold: 200;
