<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}">
  <head>
    {{ partial "google-analytics.html" . }}
    {{ partial "meta.html" . }}
    <title>
      {{ block "title" . }}{{ .Title }}{{ end }}
    </title>
    {{ partial "css.html" . }}
  </head>
  <body class="page">
    {{ partial "sidebar.html" . }}

    <main class="main">
      {{ partial "navbar.html" . }}

      <article class="article">
        {{ block "main" . }}
        {{ end }}
      </article>

      {{ partial "footer.html" . }}
    </main>

    {{ partial "javascript.html" . }}
  </body>
</html>
