<script type="text/javascript" src="{{"js/moment.min.js" | relURL }}"></script>
<script type="text/javascript" src="{{"js/fullcalendar.min.js" | relURL }}"></script>
<script type="text/javascript" src="{{"js/gcal.min.js" | relURL }}"></script>
<script>
    $(document).ready(function () {
        $('#calendar').fullCalendar({
          defaultView: 'agendaWeek',
          displayEventTime: true,
          eventLimit: true,
          nowIndicator: true,
          navLinks: true,
          timezone: 'local',
          header: { 
            left: 'prev,today,next',
            center: 'title' ,
            right: 'agendaDay,agendaWeek,month'
          },
          views: {
            month: {
              eventLimit: 6
            }
          },
          googleCalendarApiKey: 'AIzaSyDn_UhFPLDgxouI5nc8hOULFY25EjwGR44',
          events: {
            googleCalendarId: 'cgnt364vd8s86hr2phapfjc6uk@group.calendar.google.com'
          },
          eventClick: function(event) {
            window.open(event.url, 'gcalevent', 'width=600,height=600');
            return false;
          }
        })
    });
  </script>
