{{ $calendar   := .Params.calendar }}
{{ $app        := resources.Get "js/app.js" | fingerprint }}
<script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
{{ if $calendar }}
{{ $extraJs    := (slice "core" "daygrid" "google-calendar") }}
{{ range $extraJs }}
{{ $file := printf "js/fullcalendar/%s.min.js" . }}
{{ $js   := resources.Get $file | fingerprint }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
{{ end }}
{{ $calendarJs := resources.Get "js/calendar.js" | resources.ExecuteAsTemplate "js/calendar.js" . | fingerprint }}
<script src="{{ $calendarJs.RelPermalink }}" integrity="{{ $calendarJs.Data.Integrity }}"></script>
{{ end }}
<script src="{{ $app.RelPermalink }}" integrity="{{ $app.Data.Integrity }}"></script>
