{{- $currentNode := . }}

{{- range .Site.Home.Sections.ByTitle}}
{{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
{{- end}}


<!-- templates -->
{{- define "section-tree-nav" }}
{{- $currentNode := .currentnode }}
 {{- with .sect}}
  {{- if and .IsSection (or (not .Params.hidden) $.showhidden)}}
    {{- $numberOfPages := (add (len .Pages) (len .Sections)) }}
    {{- safeHTML .Params.head}}
    <li data-nav-id="{{.URL}}" class="dd-item
        {{- if .IsAncestor $currentNode}} parent{{end}}
        {{- if eq .URL $currentNode.URL}} active{{end}}
        {{- if .Params.alwaysopen}} alwaysopen{{end -}}
        {{- if ne $numberOfPages 0 }} haschildren{{end}}">
      <div>
      <a href="{{ .RelPermalink}}">{{safeHTML .Params.Pre}}{{.Title}}{{safeHTML .Params.Post}}</a>
        
        {{- if ne $numberOfPages 0 }}
          {{- if or (.IsAncestor $currentNode) (.Params.alwaysopen) }}
            <i class="fa fa-angle-down fa-lg category-icon"></i>
          {{- else -}}
            <i class="fa fa-angle-right fa-lg category-icon"></i>
          {{- end}}
        {{- end}}

      </div>
      {{- if ne $numberOfPages 0 }}
        <ul>
          {{- .Scratch.Set "pages" .Pages }}
          {{- if .Sections}}{{ .Scratch.Set "pages" (.Pages | union .Sections) }}{{end}}
          {{- $pages := (.Scratch.Get "pages") }}
          {{- range $pages.ByTitle }}
            {{- if and .Params.hidden (not $.showhidden) }}
            {{- else}}
            {{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
            {{- end}}
        {{- end}}
        </ul>
      {{- end}}
    </li>
  {{- else}}
    {{- if not .Params.Hidden }}
      <li data-nav-id="{{.URL}}" class="dd-item {{- if eq .URL $currentNode.URL}} active{{end}}">
        <div>
          <a href="{{ .RelPermalink}}">{{safeHTML .Params.Pre}}{{.LinkTitle}}{{safeHTML .Params.Post}}</a>
        </div>
    </li>
     {{- end}}
  {{- end}}
 {{- end}}
{{- end}}
