{{ $logo     := "img/logos/kubernetes.png" | relURL }}
{{ $sections := site.Sections }}
{{ $external     := "img/external.png" | relURL }}
{{ $isHome       := .IsHome }}
{{ $section      := .Section }}
{{ $pages    := where site.RegularPages ".Section" "" }}
{{ $extra        := site.Menus.sidebar }}
<nav class="navbar is-primary is-hidden-desktop">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="{{ $logo }}">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar-menu" class="navbar-menu">
    <div class="navbar-end">
        <a class="navbar-item" href="/">
          Home
        </a>
      {{ range $sections }}
      <a class="navbar-item" href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>

      {{ range .Pages }}
      <a class="navbar-item is-indented" href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
      {{ end }}
      {{ end }}

      {{ range $pages }}
      <a class="navbar-item" href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
      {{ end }}

      {{ range $extra }}
      <a class="navbar-item" href="{{ .URL }}" target="_blank">
        {{ .Name }}
        <img src="{{ $external }}" width="20" height="20">
      </a>
      {{ end }}

    </div>
  </div>
</nav>
