<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js/dist/reveal.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js/dist/theme/white.css" id="theme"/>
<script src="https://cdn.jsdelivr.net/npm/reveal.js/dist/reveal.js"></script>
<script src="https://cdn.jsdelivr.net/npm/reveal.js/plugin/markdown/markdown.js"></script>
<script src="https://cdn.jsdelivr.net/npm/reveal.js/plugin/highlight/highlight.js"></script>
<style>
 :root {
   --r-heading-text-transform: none;
   --r-heading1-size: 2em;
   --r-heading2-size: 1.5em;
   --r-heading3-size: 1.25em;
   --r-main-font-size: 34px;
 }

 .slides-container{
   display: flex;
   font-size: 70%;
 }
 
 .slides-col {
   flex: 1;
 }

 .reveal p {
   text-align: left;
 }

 .reveal .bottom-nav {
   text-align: center;
   font-size: 75%;
 }
 
 .reveal .footer {
   position: absolute;
   bottom: 1em;
   left: 1em;
   font-size: 0.5em;
   z-index: 10;
 }
</style>
