<!DOCTYPE html>
<html>
  <head>
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "head.html" . }}
  </head>
  <body data-url="{{ .RelPermalink }}">

    {{ partial "body-beforecontent.html" . }}

	<h1>{{T "title-404"}}</h1>
	<p>
	</p>
	<p>{{T "message-404"}}</p>
	<p></p>
	<p><a href="{{.Site.BaseURL}}">{{T "Go-to-homepage"}}</a></p>
	<p><img src="{{"images/gopher-404.jpg" | relURL}}" style="width:50%"></img></p>    
    
    {{ partial "body-aftercontent.html" . }}

    {{ block "footer" . }}
    {{ end }}

    {{ partial "custom-footer.html" . }}
  </body>
</html>


