{{ if .HasShortcode "keps-data" }}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap" rel="stylesheet">
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  "name": "Kubernetes Enhancement Proposals (KEPs)",
  "description": "Browse and filter all Kubernetes Enhancement Proposals across every release.",
  "about": {
    "@type": "Thing",
    "name": "Kubernetes Enhancement Proposals"
  }
}
</script>
{{ end }}

<link rel="canonical" href="{{ with .Params.canonicalURL }}{{ . }}{{ else }}{{ "https://www.kubernetes.dev" }}{{ .RelPermalink }}{{ end }}">

{{ if .HasShortcode "sigs-list" }}
  {{ $js := resources.Get "js/sigs-filter.js" | minify | fingerprint }}
  <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
{{ end }}
